{% extends "art/base.html" %}

{% block title %}Update Shipping Address{% endblock title %}

{% block content %}
<main class="main-structure primary-color-bg">
  <div class="light-form">
    <h2 class="align-center">Update Information</h2>

    <form method="post">
    <table class="align-table">
        {{ form.as_table }}
        <tr>
          <td colspan="2" align="center">
            <input type="submit" value="Update" class="light-button">
          </td
        </tr>
    </table>
    <input type="hidden" name="next" value="{{ next }}" />
    {% csrf_token %}
    </form>
  </div>
</main>
{% endblock content %}
